<ion-header>
  <ion-toolbar>
    <ion-title>Venta perdida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div style="padding-right: 30px;padding-left: 30px;">
    <table class="resumen" style="width: 100%;">
      <tr>
        <td>Tipo de venta</td>
        <td>{{producto.vpe_tipo}}</td>
      </tr>
      <tr>
        <td>No.</td>
        <td *ngIf="producto.vpe_tipo=='Inexistencia'">{{producto.vpe_sku}}</td>
        <td *ngIf="producto.vpe_tipo=='Producto no comercializable'"><input type="text" [(ngModel)]="producto.vpe_sku" style="width: 100%;"/></td>
      </tr>
      <tr>
        <td>Descripción</td>
        <td *ngIf="producto.vpe_tipo=='Inexistencia'">{{producto.vpe_descripcion}}</td>
        <td *ngIf="producto.vpe_tipo=='Producto no comercializable'"><input type="text" [(ngModel)]="producto.vpe_descripcion" style="width: 100%;"/></td>
      </tr>
      <tr>
        <td>Cantidad</td>
        <td><input type="number" [(ngModel)]="producto.vpe_cantidad" style="width: 100%;"/></td>
      </tr>
      <ng-container *ngIf="producto.vpe_tipo=='Producto no comercializable'">
        <tr>
          <td colspan="2" style="height: 20px;"></td>
        </tr>
        <tr>
          <td>Marca<br/>
            <input type="text" [(ngModel)]="producto.vpe_marca" style="width: 100%;"/>
          </td>
          
          <td>Modelo<br/>
            <input type="text" [(ngModel)]="producto.vpe_modelo" style="width: 100%;"/>
          </td>
        </tr>
        <tr>
          <td>Año<br/>
            <input type="text" [(ngModel)]="producto.vpe_anio" style="width: 100%;"/>
          </td>
          
          <td>Chasis<br/>
            <input type="text" [(ngModel)]="producto.vpe_chasis" style="width: 100%;"/>
          </td>
        </tr>
        <tr>
          <td>Número de motor<br/>
            <input type="text" [(ngModel)]="producto.vpe_motor" style="width: 100%;"/>
          </td>
          
          <td>Grupo<br/>
            <input type="text" [(ngModel)]="producto.vpe_grupo" style="width: 100%;"/>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" (click)="guardar()">Ok</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" (click)="close()">Cancelar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>