
<app-encabezado [titulo]="titulo"></app-encabezado>

  
  <ion-content>
  
    <ion-segment [(ngModel)]="segment" scrollable (ionChange)="segmentChanged($event)">
      <ion-segment-button value="busqueda">
        Búsqueda
      </ion-segment-button>
      <ion-segment-button value="equivalentes">
        Equivalentes
      </ion-segment-button>
    </ion-segment>
    
    <div [ngSwitch]="segment">
      <ion-card *ngSwitchCase="'busqueda'">
        <ion-card-content>

          <div style="background:whitesmoke;">
            <form style="background: transparent;margin-top: 0px;">
              <ion-row>
                <ion-col size="3">
                  <!--<ion-item>
                      <ion-label position="floating">Grupo</ion-label>
                      <ion-input  [clearInput]="true" autofocus="true" type="text" name="grupo" [(ngModel)]="filtros.grupo" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>-->
                  <ng-select (change)="buscar(true)" style="padding: 0px;background: white;color: black;padding-left: 10px;padding-top: 15px;" placeholder="Grupo" [(ngModel)]="filtros.grupo" name="grupo">
                    <ng-option *ngFor="let item of combos.grupos" [value]="item.id">{{item.id + '-' +item.nombre}}</ng-option>
                  </ng-select>
                </ion-col>
                <ion-col size="3">
                  <!--<ion-item>
                      <ion-label  position="floating">Sub Grupo</ion-label>
                      <ion-input  [clearInput]="true" type="text" name="subGrupo" [(ngModel)]="filtros.subGrupo" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>-->
                  <ng-select (change)="buscar(true)" style="padding: 0px;background: white;color: black;padding-left: 10px;padding-top: 15px;" placeholder="Sub Grupo" 
                    [items]="combos.subgrupos" [(ngModel)]="filtros.subGrupo" bindLabel="nombre" bindValue="id" name="subgrupo" [searchFn]="buscarCombo">
                    <ng-template ng-option-tmp let-item="item">
                      <p style="font-family: 10px;white-space: normal;line-height: initial;">
                        {{item.id}} - {{item.nombre}}
                      </p>
                    </ng-template>
                  </ng-select>
                </ion-col>
                <ion-col size="3">
                  <!--<ion-item>
                      <ion-label position="floating">Fabricante</ion-label>
                      <ion-input [clearInput]="true" type="text" name="fabricante" [(ngModel)]="filtros.fabricante" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>-->
                  <ng-select (change)="buscar(true)" style="padding: 0px;background: white;color: black;padding-left: 10px;padding-top: 15px;" placeholder="Fabricante" [(ngModel)]="filtros.fabricante" name="fabricante">
                    <ng-option *ngFor="let item of combos.fabricantes" [value]="item.id">{{item.nombre}}</ng-option>
                  </ng-select>
                </ion-col>
                <ion-col size="3">
                  <!--<ion-item>
                      <ion-label position="floating">Familia</ion-label>
                      <ion-input [clearInput]="true" type="text" name="familia" [(ngModel)]="filtros.familia" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>-->
                  <ng-select (change)="buscar(true)" style="padding: 0px;background: white;color: black;padding-left: 10px;padding-top: 15px;" placeholder="Familia" [(ngModel)]="filtros.familia" name="familia">
                    <ng-option *ngFor="let item of combos.familias" [value]="item.id">{{item.nombre}}</ng-option>
                  </ng-select>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label position="floating">No. Básico</ion-label>
                      <ion-input [clearInput]="true" type="text" name="numero" [(ngModel)]="filtros.numero" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label position="floating">Descripcion</ion-label>
                      <ion-input [clearInput]="true" type="text" name="descripcion" [(ngModel)]="filtros.descripcion" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label position="floating">Marca</ion-label>
                      <ion-input [clearInput]="true" type="text" name="marca" [(ngModel)]="filtros.marca" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label position="floating">Modelo</ion-label>
                      <ion-input [clearInput]="true" type="text" name="modelo" [(ngModel)]="filtros.modelo" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label position="floating">Aplicación</ion-label>
                      <ion-input [clearInput]="true" type="text" name="aplicacion" [(ngModel)]="filtros.aplicacion" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3" *ngIf="verMas">
                  <ion-item>
                      <ion-label position="floating">Chasis</ion-label>
                      <ion-input [clearInput]="true" type="text" name="chasis" [(ngModel)]="filtros.chasis" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3" *ngIf="verMas">
                  <ion-item>
                      <ion-label position="floating">Año</ion-label>
                      <ion-input [clearInput]="true" type="number" name="anio" [(ngModel)]="filtros.anio"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3" *ngIf="verMas">
                  <ion-item>
                      <ion-label position="floating">No. Motor</ion-label>
                      <ion-input [clearInput]="true" type="text" name="motor" [(ngModel)]="filtros.motor"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3" *ngIf="verMas">
                  <ion-item>
                      <ion-label position="floating">Tracción</ion-label>
                      <ion-input [clearInput]="true" type="text" name="traccion" [(ngModel)]="filtros.traccion"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3" *ngIf="verMas">
                  <ion-item>
                      <ion-label position="floating">Versión</ion-label>
                      <ion-input [clearInput]="true" type="text" name="version" [(ngModel)]="filtros.version"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="1" style="align-self: center;font-size: 50px;text-align:center;">
                  <fa-icon *ngIf="verMas" [icon]="['fas','minus-square']" (click)="verMas=!verMas"></fa-icon>
                  <fa-icon *ngIf="!verMas" [icon]="['fas','plus-square']" (click)="verMas=!verMas"></fa-icon>
                </ion-col>
              </ion-row>
              
              <ion-row>
                  <ion-col size="12" style="text-align: right;">
                      <ion-button [disabled]="loading.busqueda" style="text-transform: capitalize;" (click)="buscar(true)"><fa-icon [icon]="['fas','search']"></fa-icon> Buscar</ion-button>
                      <ion-button [disabled]="loading.busqueda" style="text-transform: capitalize;" (click)="limpiar()"><fa-icon [icon]="['fas','eraser']"></fa-icon> Limpiar</ion-button>
                      <ion-button [disabled]="loading.equivalentes" style="text-transform: capitalize;" (click)="ventaPerdida(null)" *ngIf="configuracion.getEstatusGestion()"><fa-icon [icon]="['fas','handshake-slash']"></fa-icon> Venta perdida</ion-button>
                  </ion-col>
              </ion-row>
            </form>
          </div>
        
          <ion-progress-bar type="indeterminate" *ngIf="loading.busqueda"></ion-progress-bar>
          <ion-row>
            <ion-col size="5">
              <h3>Cliente en gestión: <b>{{configuracion.getClienteNombre()}}</b></h3>
            </ion-col>
            <ion-col size="4">
              <h3 style="display: inline-block;margin-right: 10px;">Inventario:</h3>
              <div class="form-check form-check-inline" style="display: inline-block;margin-right: 10px;">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="CD2" [(ngModel)]="bodega">
                <label class="form-check-label" for="inlineRadio1">CD2</label>
              </div>
              <div class="form-check form-check-inline" style="display: inline-block;">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="CEN.DIST" [(ngModel)]="bodega">
                <label class="form-check-label" for="inlineRadio2">CEN.DIST</label>
              </div>
            </ion-col>
            <ion-col size="3" style="text-align: right;">
              Registros: {{total}}
            </ion-col>
          </ion-row>
          
          <table class="customers" id="tbResultado">
            <tr>
              <th>#</th>
              <th>No. Básico</th>
              <th>Descripción</th>
              <th>Mayoreo</th>
              <th>Mayoreo+IVA</th>
              <th>Existencia</th>
              <th></th>
            </tr>
            <tr *ngFor="let item of productos; let i = index">
              <td>{{(filtros.offset+1)+i}}</td>
              <td style="color: blue;text-decoration: underline;" (click)="verEquivalentes(item)">{{item.pro_number}}</td>
              <td>{{item.pro_descripcion}}</td>
              <td>{{item.preciou | currencyFormat}}</td>
              <td>{{item.preciou*1.13 | currencyFormat}}</td>
              <td>{{item.existencia | quantityFormat}}</td><!--number: '1.0-0'-->
              <td>
                <ion-button color="primary" (click)="verProducto(item)">
                  <fa-icon [icon]="['fas','eye']"></fa-icon>
                </ion-button>
                <ion-button color="primary" (click)="ventaPerdida(item)" *ngIf="configuracion.getEstatusGestion()">
                  <fa-icon [icon]="['fas','handshake-slash']"></fa-icon>
                </ion-button>
                <ion-button color="primary" (click)="agregarProducto(item)" *ngIf="configuracion.getEstatusGestion() && item.preciou>0 && item.existencia>0">
                  <fa-icon [icon]="['fas','plus-square']"></fa-icon>
                </ion-button>
              </td>
            </tr>
            <tr *ngIf="registros.busqueda!=-1 && productos.length==0">
              <td style="text-align: center;" colspan="9">No se encontraron registros</td>
            </tr>
          </table>
          
          <mat-paginator #paginator class="table-paginator" *ngIf="productos.length>0"
            showFirstLastButtons
            [length]="total"
            [pageSizeOptions]="[10, 15, 25, 50]" 
            [pageSize]="configuracion.getPaginacion()"
            [pageIndex]="filtros.pageIndex"
            (page)="paginar($event)">
          </mat-paginator>
        </ion-card-content>
      </ion-card>
      <ion-card *ngSwitchCase="'equivalentes'">
        <ion-card-content>
          <form style="background: transparent;margin-top: 0px;">
            <ion-row>
              <ion-col size="4">
                <ion-item>
                    <ion-label position="floating">No. Básico</ion-label>
                    <ion-input autofocus="true" type="text" name="grupo" [(ngModel)]="codigo"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <h3 style="display: inline-block;margin-right: 10px;">Inventario:</h3><br/>
                <div class="form-check form-check-inline" style="display: inline-block;margin-right: 10px;">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="CD2" [(ngModel)]="bodegaEq">
                  <label class="form-check-label" for="inlineRadio1">CD2</label>
                </div>
                <div class="form-check form-check-inline" style="display: inline-block;">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="CEN.DIST" [(ngModel)]="bodegaEq">
                  <label class="form-check-label" for="inlineRadio2">CEN.DIST</label>
                </div>
              </ion-col>
                <ion-col size="4" style="text-align: right;align-self: end;">
                    <ion-button [disabled]="loading.equivalentes" style="text-transform: capitalize;" (click)="buscarEquivalentes()"><fa-icon [icon]="['fas','search']"></fa-icon> Buscar</ion-button>
                    <ion-button [disabled]="loading.equivalentes" style="text-transform: capitalize;" (click)="limpiarEquivalentes()"><fa-icon [icon]="['fas','eraser']"></fa-icon> Limpiar</ion-button>
                </ion-col>
            </ion-row>
          </form>
          
          <br/>
          <br/>
          <ion-progress-bar type="indeterminate" *ngIf="loading.equivalentes"></ion-progress-bar>
          <table class="customers">
            <tr>
              <th>No. Básico</th>
              <th>No. Original</th>
              <th>Grupo</th>
              <th>SubGrupo</th>
              <th>Descripción</th>
              <th>Mayoreo</th>
              <th>Mayoreo+IVA</th>
              <th>Existencia</th>
              <th></th>
            </tr>
            <tr *ngFor="let item of productosEquivalentes">
              <td>{{item.pro_number}}</td>
              <td>{{item.pro_number_2}}</td>
              <td>{{item.pro_categoria}}</td>
              <td>{{item.pro_sub_categoria}}</td>
              <td>{{item.pro_descripcion}}</td>
              <td>{{item.preciou | currencyFormat}}</td>
              <td>{{item.preciou*1.13 | currencyFormat}}</td>
              <td>{{item.existencia | quantityFormat}}</td>
              <td>
                <ion-button color="primary" (click)="verProducto(item)">
                  <fa-icon [icon]="['fas','eye']"></fa-icon>
                </ion-button>
                <ion-button color="primary" (click)="ventaPerdida(item)" *ngIf="configuracion.getEstatusGestion()">
                  <fa-icon [icon]="['fas','handshake-slash']"></fa-icon>
                </ion-button>
                <ion-button color="primary" (click)="agregarProducto(item)" *ngIf="configuracion.getEstatusGestion() && item.preciou>0 && item.existencia>0">
                  <fa-icon [icon]="['fas','plus-square']"></fa-icon>
                </ion-button>
              </td>
            </tr>
            <tr *ngIf="registros.equivalentes!=-1 && productosEquivalentes?.length==0">
              <td style="text-align: center;" colspan="9">No se encontraron registros</td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </div>



</ion-content>
