

.text-categoria{
    font-family: 'Suntea';
    font-weight: 900;
    font-size:2em;
    margin-bottom: 0px;
    padding-left: 1.5em;
    max-height: 3em;
    min-height: 3em;
    margin-top: -3em;
}

.img-categoria{
    margin-bottom: 3em;
}


.customers {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
  }
  
  .customers td, .customers th {
   
    padding: 8px;
  }
  
.customers tr:nth-child(even){background-color: #faf3c0;}
  
.customers tr:hover {background-color: #fff39b;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f3d800;
    color: #282828;
    font-weight: bold;
  }
.clienteName {
  font-size: 20px !important;
  margin-bottom: 15px !important;
  font-weight: bold;
  color: #282828;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}