
<app-encabezado [titulo]="titulo"></app-encabezado>

  
  <ion-content>
  
    <ion-segment [(ngModel)]="segment" scrollable (ionChange)="segmentChanged($event)">
      <ion-segment-button value="busqueda">
        Búsqueda
      </ion-segment-button>
      <ion-segment-button value="equivalentes">
        Equivalentes
      </ion-segment-button>
    </ion-segment>
    
    <div [ngSwitch]="segment">
      <ion-card *ngSwitchCase="'busqueda'">
        <ion-card-content>

          <div style="background:whitesmoke;">
            <form style="background: transparent;margin-top: 0px;">
              <ion-row>
                <ion-col size="3">
                  <!--<ion-item>
                      <ion-label position="floating">Grupo</ion-label>
                      <input  [matAutocomplete]="autocomplete" >
                      <mat-autocomplete #autocomplete="matAutocomplete">
                        <mat-option *ngFor="let state of states" [value]="state.name">{{ state.name }}</mat-option>
                      </mat-autocomplete>
                  </ion-item>-->
                  <form>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Number</mat-label>
                      <input type="text"
                             placeholder="Pick one"
                             aria-label="Number"
                             matInput
                             [formControl]="myControl"
                             [matAutocomplete]="grupo">
                             <mat-autocomplete #grupo="matAutocomplete">
                               <mat-option *ngFor="let state of states" [value]="state.name">{{ state.name }}</mat-option>
                             </mat-autocomplete>
                    </mat-form-field>
                  </form>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label  position="floating">Sub Grupo</ion-label>
                      <ion-input  [clearInput]="true" type="text" name="subGrupo" [(ngModel)]="filtros.subGrupo" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label position="floating">Fabricante</ion-label>
                      <ion-input [clearInput]="true" type="text" name="fabricante" [(ngModel)]="filtros.fabricante" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label position="floating">Familia</ion-label>
                      <ion-input [clearInput]="true" type="text" name="familia" [(ngModel)]="filtros.familia" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label position="floating">No. Básico</ion-label>
                      <ion-input [clearInput]="true" type="text" name="numero" [(ngModel)]="filtros.numero" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label position="floating">Descripcion</ion-label>
                      <ion-input [clearInput]="true" type="text" name="descripcion" [(ngModel)]="filtros.descripcion" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label position="floating">Marca</ion-label>
                      <ion-input [clearInput]="true" type="text" name="marca" [(ngModel)]="filtros.marca" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label position="floating">Modelo</ion-label>
                      <ion-input [clearInput]="true" type="text" name="modelo" [(ngModel)]="filtros.modelo" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                      <ion-label position="floating">Aplicación</ion-label>
                      <ion-input [clearInput]="true" type="text" name="aplicacion" [(ngModel)]="filtros.aplicacion" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3" *ngIf="verMas">
                  <ion-item>
                      <ion-label position="floating">Chasis</ion-label>
                      <ion-input [clearInput]="true" type="text" name="chasis" [(ngModel)]="filtros.chasis" (keyup.enter)="onEnter()"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3" *ngIf="verMas">
                  <ion-item>
                      <ion-label position="floating">Año</ion-label>
                      <ion-input [clearInput]="true" type="number" name="anio" [(ngModel)]="filtros.anio"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3" *ngIf="verMas">
                  <ion-item>
                      <ion-label position="floating">No. Motor</ion-label>
                      <ion-input [clearInput]="true" type="text" name="motor" [(ngModel)]="filtros.motor"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3" *ngIf="verMas">
                  <ion-item>
                      <ion-label position="floating">Tracción</ion-label>
                      <ion-input [clearInput]="true" type="text" name="traccion" [(ngModel)]="filtros.traccion"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3" *ngIf="verMas">
                  <ion-item>
                      <ion-label position="floating">Versión</ion-label>
                      <ion-input [clearInput]="true" type="text" name="version" [(ngModel)]="filtros.version"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="1" style="align-self: center;font-size: 50px;text-align:center;">
                  <fa-icon *ngIf="verMas" [icon]="['fas','minus-square']" (click)="verMas=!verMas"></fa-icon>
                  <fa-icon *ngIf="!verMas" [icon]="['fas','plus-square']" (click)="verMas=!verMas"></fa-icon>
                </ion-col>
              </ion-row>
              
              <ion-row>
                  <ion-col size="12" style="text-align: right;">
                      <ion-button [disabled]="loading.busqueda" style="text-transform: capitalize;" (click)="buscar(true)"><fa-icon [icon]="['fas','search']"></fa-icon> Buscar</ion-button>
                      <ion-button [disabled]="loading.busqueda" style="text-transform: capitalize;" (click)="limpiar()"><fa-icon [icon]="['fas','eraser']"></fa-icon> Limpiar</ion-button>
                  </ion-col>
              </ion-row>
            </form>
          </div>
        
          <ion-progress-bar type="indeterminate" *ngIf="loading.busqueda"></ion-progress-bar>
          <ion-row>
            <ion-col size="6">
              <h3>Cliente en gestión: <b>{{configuracion.getClienteNombre()}}</b></h3>
            </ion-col>
            <ion-col size="3" style="text-align: right;">
              <h3>Inventario: <b>CD2</b></h3>
            </ion-col>
            <ion-col size="3" style="text-align: right;">
              Registros: {{total}}
            </ion-col>
          </ion-row>
          
          <table class="customers">
            <tr>
              <th>#</th>
              <th>No. Básico</th>
              <th>Descripción</th>
              <th>Mayoreo</th>
              <th>Mayoreo+IVA</th>
              <th>Existencia</th>
              <th></th>
            </tr>
            <tr *ngFor="let item of productos; let i = index">
              <td>{{(filtros.offset+1)+i}}</td>
              <td style="color: blue;text-decoration: underline;" (click)="verEquivalentes(item)">{{item.pro_number}}</td>
              <td>{{item.pro_descripcion}}</td>
              <td>{{item.preciou | currencyFormat}}</td>
              <td>{{item.preciou*1.13 | currencyFormat}}</td>
              <td>{{item.existencia | quantityFormat}}</td><!--number: '1.0-0'-->
              <td>
                <ion-button color="primary" (click)="verProducto(item)">
                  <fa-icon [icon]="['fas','eye']"></fa-icon>
                </ion-button>
                <ion-button color="primary" (click)="agregarProducto(item)" *ngIf="configuracion.getEstatusGestion() && item.preciou>0 && item.existencia>0">
                  <fa-icon [icon]="['fas','plus-square']"></fa-icon>
                </ion-button>
              </td>
            </tr>
            <tr *ngIf="registros.busqueda!=-1 && productos.length==0">
              <td style="text-align: center;" colspan="9">No se encontraron registros</td>
            </tr>
          </table>
          
          <mat-paginator #paginator class="table-paginator" *ngIf="productos.length>0"
            showFirstLastButtons
            [length]="total"
            [pageSizeOptions]="[5, 10, 15, 25, 50]" 
            [pageSize]="configuracion.getPaginacion()"
            [pageIndex]="filtros.pageIndex"
            (page)="paginar($event)">
          </mat-paginator>
        </ion-card-content>
      </ion-card>
      <ion-card *ngSwitchCase="'equivalentes'">
        <ion-card-content>
          <form style="background: transparent;margin-top: 0px;">
            <ion-row>
              <ion-col size="8">
                <ion-item>
                    <ion-label position="floating">No. Básico</ion-label>
                    <ion-input autofocus="true" type="text" name="grupo" [(ngModel)]="codigo"></ion-input>
                </ion-item>
              </ion-col>
                <ion-col size="4" style="text-align: right;align-self: end;">
                    <ion-button [disabled]="loading.equivalentes" style="text-transform: capitalize;" (click)="buscarEquivalentes()"><fa-icon [icon]="['fas','search']"></fa-icon> Buscar</ion-button>
                    <ion-button [disabled]="loading.equivalentes" style="text-transform: capitalize;" (click)="limpiarEquivalentes()"><fa-icon [icon]="['fas','eraser']"></fa-icon> Limpiar</ion-button>
                </ion-col>
            </ion-row>
          </form>
          
          <br/>
          <br/>
          <ion-progress-bar type="indeterminate" *ngIf="loading.equivalentes"></ion-progress-bar>
          <table class="customers">
            <tr>
              <th>No. Básico</th>
              <th>No. Original</th>
              <th>Grupo</th>
              <th>SubGrupo</th>
              <th>Descripción</th>
              <th>Mayoreo</th>
              <th>Mayoreo+IVA</th>
              <th>Existencia</th>
              <th></th>
            </tr>
            <tr *ngFor="let item of productosEquivalentes">
              <td>{{item.pro_number}}</td>
              <td>{{item.pro_number_2}}</td>
              <td>{{item.pro_categoria}}</td>
              <td>{{item.pro_sub_categoria}}</td>
              <td>{{item.pro_descripcion}}</td>
              <td>{{item.preciou | currencyFormat}}</td>
              <td>{{item.preciou*1.13 | currencyFormat}}</td>
              <td>{{item.existencia | quantityFormat}}</td>
              <td>
                <ion-button color="primary" (click)="verProducto(item)">
                  <fa-icon [icon]="['fas','eye']"></fa-icon>
                </ion-button>
                <ion-button color="primary" (click)="agregarProducto(item)" *ngIf="configuracion.getEstatusGestion() && item.preciou>0 && item.existencia>0">
                  <fa-icon [icon]="['fas','plus-square']"></fa-icon>
                </ion-button>
              </td>
            </tr>
            <tr *ngIf="registros.equivalentes!=-1 && productosEquivalentes?.length==0">
              <td style="text-align: center;" colspan="9">No se encontraron registros</td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </div>



</ion-content>
