
<app-encabezado [titulo]="'| Clientes'"></app-encabezado>

  
  <ion-content>
  

  <div style="padding: 20px;background:whitesmoke;">
    <form style="background: transparent;margin-top: 0px;">
      <ion-row>
        <ion-col size="3">
          <ion-item>
              <ion-label position="floating">No Cliente</ion-label>
              <ion-input autofocus="true" type="email" [(ngModel)]="filtros.cliente" name="cliente"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
              <ion-label position="floating">Razon Social</ion-label>
              <ion-input type="text" [(ngModel)]="filtros.razon_social" name="razon_social"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
              <ion-label position="floating">Nombre Comercial</ion-label>
              <ion-input type="text" [(ngModel)]="filtros.nombre_comercial" name="nombre_comercial"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
              <ion-label position="floating">No. Registro</ion-label>
              <ion-input type="text" [(ngModel)]="filtros.registro" name="registro"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
          <ion-col size="12" style="text-align: right;">
              <ion-button style="text-transform: capitalize;" [disabled]="loading" (click)="buscar(true)">
                <fa-icon [icon]="['fas','search']"></fa-icon> Buscar
              </ion-button>
              <ion-button [disabled]="loading" style="text-transform: capitalize;" (click)="limpiar()"><fa-icon [icon]="['fas','eraser']"></fa-icon> Limpiar</ion-button>
          </ion-col>
      </ion-row>
    </form>
  </div>


  <div style="padding: 10px">
    <ion-row>
      <ion-col size="6">
        
      </ion-col>
      <ion-col size="6" style="text-align: right;">
        Registros: {{total}}
      </ion-col>
    </ion-row>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
    <table id="customers">
      <tr>
        <th>#</th>
        <th>No. Cliente</th>
        <th>Razon Social</th>
        <th>Nombre Comercial</th>
        <th>Dirección</th>
        <th style="width: 140px;"></th>
      </tr>
      <tr *ngFor="let item of clientes; let i = index">
        <td>{{(filtros.offset+1)+i}}</td>
        <td>{{item.codigo}}</td>
        <td>{{item.nombre_social}}</td>
        <td>{{item.nombre_comercial}}</td>
        <td>{{item.direccion}}</td>
        <td>
          <ion-button color="primary" (click)="add(item, i)">
            <fa-icon [icon]="['fas','plus-square']"></fa-icon>
          </ion-button>
          <ion-button color="primary" (click)="show(item)">
            <fa-icon [icon]="['fas','eye']"></fa-icon>
          </ion-button>
        </td>
      </tr>
      <tr *ngIf="registros!=-1 && clientes.length==0">
        <td style="text-align: center;" colspan="6">No se encontraron registros</td>
      </tr>
    </table>
    <mat-paginator #paginator class="table-paginator" *ngIf="clientes.length>0"
      showFirstLastButtons
      [length]="total"
      [pageSizeOptions]="[5, 10, 15, 25, 50]" 
      [pageSize]="config.getPaginacion()"
      [pageIndex]="filtros.pageIndex"
      (page)="paginar($event)">
    </mat-paginator>
  </div>



</ion-content>
