<ion-header>
  <ion-toolbar class="background-yellow">
      <ion-row style="align-items: center;">
          <ion-col size="7" style="vertical-align: middle;margin: 0px;padding: 0px;padding-left: 10px;padding-top: 10px;">
              <img src="/assets/logoEP-reducido-small.png" alt="" style="display: inline-block;width: 100px;" />
              <h1 style="display: inline-block;padding-left: 10px;margin:0px">{{titulo}}</h1>
          </ion-col>
          <ion-col size="5" style="text-align: right;margin: 0px;padding: 0px;padding-right: 10px;">
              <p *ngIf="config.ConfiguracionService.online" class="status-network">
                <img src="/assets/icon/online.png" style="width: 20px;"/>
                <ion-badge color="success" style="font-weight: lighter;">online</ion-badge>
              </p>
              <p *ngIf="!config.ConfiguracionService.online" class="status-network">
                <img src="/assets/icon/offline.png" style="width: 20px;"/>
                <ion-badge color="danger" style="font-weight: lighter;">offline</ion-badge>
              </p>
              <ion-menu-toggle>
                  <fa-icon [icon]="['fas','bars']" style="font-size:18px;margin-left: 15px;"></fa-icon>
              </ion-menu-toggle>
          </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-header>
