@font-face {
    font-family: 'Suntea';
    src: url('../assets/fonts/Atlantic Fonts - Suntea Regular.ttf');
}
  
@font-face {
    font-family: 'Wes';
    src: url('../assets/fonts/Fontyou - Wes FY Thin.ttf');
}

@font-face {
    font-family: 'WesBold';
    src: url('../assets/fonts/Fontyou - Wes FY Bold.ttf');
}

@font-face {
    font-family: 'Centura';
    src: url('../assets/fonts/GRIN3 (Nowak) - Centura Round.ttf');
}

@font-face {
    font-family: 'Suarez';
    src: url('../assets/fonts/GRIN3 (Nowak) - Suarez.otf');
}

@font-face {
    font-family: 'Mandevilla';
    src: url('../assets/fonts/Laura Worthington - MandevillaRegular.otf');
}