// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #b81416; /*#3880ff; nortiz: color boton*/
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #c64345; /*#3171e0;*/
    --ion-color-primary-tint: #c64345;/*#4c8dff;*/
    /** secondary **/
    --ion-color-secondary: #282828; /*#0cd1e8; nortiz: color boton*/
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #535353; /*#0bb8cc;*/
    --ion-color-secondary-tint: #535353; /*#24d6ea;*/
    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    /** azul stj **/
    --ion-color-stjazul: #0081c6;
    --ion-color-stjazul-rgb: 0, 129, 198;
    --ion-color-stjazul-contrast: #ffffff;
    --ion-color-stjazul-contrast-rgb: 255, 255, 255;
    --ion-color-stjazul-shade: #0072ae;
    --ion-color-stjazul-tint: #1a8ecc;
    /** rojo stj **/
    --ion-color-stjrojo: #d0103a;
    --ion-color-stjrojo-rgb: 208, 16, 58;
    --ion-color-stjrojo-contrast: #ffffff;
    --ion-color-stjrojo-contrast-rgb: 255, 255, 255;
    --ion-color-stjrojo-shade: #b70e33;
    --ion-color-stjrojo-tint: #d5284e;
    .searchbar-input {
        border-radius: 3em;
    }
}

.ion-color-stjazul {
    --ion-color-base: var(--ion-color-stjazul);
    --ion-color-base-rgb: var(--ion-color-stjazul-rgb);
    --ion-color-contrast: var(--ion-color-stjazul-contrast);
    --ion-color-contrast-rgb: var(--ion-color-stjazul-contrast-rgb);
    --ion-color-shade: var(--ion-color-stjazul-shade);
    --ion-color-tint: var(--ion-color-stjazul-tint);
}

.ion-color-stjrojo {
    --ion-color-base: var(--ion-color-stjrojo);
    --ion-color-base-rgb: var(--ion-color-stjrojo-rgb);
    --ion-color-contrast: var(--ion-color-stjrojo-contrast);
    --ion-color-contrast-rgb: var(--ion-color-stjrojo-contrast-rgb);
    --ion-color-shade: var(--ion-color-stjrojo-shade);
    --ion-color-tint: var(--ion-color-stjrojo-tint);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}