
<ion-content style="--background:#f3d800;">
    <ion-grid>
        <div class="ion-text-center" style="margin-top: 50px;">
            <img src="/assets/logoEP-reducido-small.png" style="width: 200px;z-index: 1;" />
        </div>
        <br/>
        <ion-row color="primary" class="ion-justify-content-center" style="height: 100% !important;">
            <!-- <ion-col class="ion-align-self-center" style="height: 100% !important;" size-md="5" size-lg="4" size-xs="12">
                <img src="/assets/cdEP.jpg"/>
                <p *ngIf="device.isBrowser()">Versión web</p>
            </ion-col> -->
            <ion-col class="ion-align-self-center" style="height: 100% !important;" size-md="12" size-lg="5" size-xs="12">
                
                <div style="background: white;border-radius: 20px;padding: 5px;">
                    <p style="text-align: center;font-weight: bold;font-size:30px;">
                        Gestión Comercial
                    </p>
                    <div *ngIf="verError" style="border: 1px solid darkgray;
                            border-radius: 10px;
                            background-color: rgba(255,237,0,0.5);
                            text-align: center;
                            padding: 1em;
                            font-weight: 300;
                            font-style: italic;
                            color: red;">
                        {{mensajeError}}
                    </div>
                    <form [formGroup]="formLogin" style="background: transparent;margin-top: 0px;">
                        <div style="margin-right: 10px;">
                            <ion-item>
                                <ion-label position="floating">Usuario</ion-label>
                                <ion-input formControlName="Username" autofocus="true" type="text" (keyup.enter)="login()"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Contraseña</ion-label>
                                <ion-input formControlName="Password" [type]="showPassword?'text':'password'" (keyup.enter)="login()"></ion-input>
                                <ion-icon slot="end" [name]="passwordToggleIcon" style="align-self: flex-end;" (click)="togglePassword()"></ion-icon>
                                <p class="errores" *ngIf="!formLogin.controls.Password.valid  && (formLogin.controls.Password.dirty )">Ingrese una contraseña valida.</p>
                            </ion-item>
                        </div>
                        <ion-row>
                            <ion-col size="6">
                                <ion-button (click)="login()" expand="block" style="text-transform: capitalize;">Ingresar</ion-button>
                            </ion-col>
                            <ion-col size="6">
                                <ion-button color="secondary" (click)="recuperarPassword()" expand="block" style="text-transform: capitalize;">Recuperar contraseña</ion-button>
                            </ion-col>
                        </ion-row>
                    </form>
                    <p style="text-align: center;margin:0px;">
                        {{device.getInfo()}}
                    </p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>