<ion-header>
  <ion-toolbar class="background-yellow" mode="md">
    <ion-buttons slot="end">
      <ion-button (click)="atras()" style="border:1px solid gray;background: black;color:white;text-transform: capitalize;">
          <fa-icon [icon]="['fas','times-circle']" style="margin-right: 4px;"></fa-icon>
          Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title>Detalle de Pedido: {{pedido.ped_no}}</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="segment" scrollable (ionChange)="segmentChanged($event)">
    <ion-segment-button value="pedido"> <!-- layout="icon-start"-->
      <fa-icon [icon]="['fas','shopping-cart']" style="font-size: 20px;"></fa-icon>
      <ion-label>Pedido</ion-label>
    </ion-segment-button>
    <ion-segment-button value="factura" [disabled]="!facturado">
      <fa-icon [icon]="['fas','receipt']" style="font-size: 20px;"></fa-icon>
      <ion-label>Factura</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="padding">

  <div [ngSwitch]="segment">
    <p *ngIf="facturado" class="legend-information" style="color: green;">
      <fa-icon [icon]="['fas','check-circle']" style="font-size: 20px;"></fa-icon> FACTURADO
    </p>
    <p *ngIf="!facturado" class="legend-information" style="color: orange;">
      <fa-icon [icon]="['fas','user-clock']" style="font-size: 20px;"></fa-icon> PENDIENTE DE FACTURAR
    </p>
    <ion-card *ngSwitchCase="'pedido'">
      <ion-card-content>
        <table class="datos">
            <tr>
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">FECHA DE PEDIDO:</td>
                <td>{{pedido.ped_fecha | date:'d/M/y'}}</td>
                
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">DIRECCIÓN:</td>
                <td colspan="3">{{pedido.ped_cliente_direccion}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">CORREO:</td>
                <td colspan="3">{{pedido.ped_cliente_correo}}</td>
                
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">CELULAR:</td>
                <td>{{pedido.ped_celular}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">NO. CLIENTE:</td>
                <td>{{pedido.ped_cliente_codigo}}</td>

                <td style="font-weight: bold;padding-right: 5px;text-align: right;">RAZON SOCIAL:</td>
                <td>{{pedido.ped_cliente_nombre}}</td>
                
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">NOMBRE COMERCIAL:</td>
                <td>{{pedido.ped_cliente_comercial}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">CONDICION:</td>
                <td>{{pedido.ped_tipo_pago}}</td>

                <td style="font-weight: bold;padding-right: 5px;text-align: right;">MONTO:</td>
                <td>{{pedido.ped_monto | currencyFormat}}</td><!--number: '1.2-2':'en-US'-->
                
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">UNIDADES:</td>
                <td>{{pedido.ped_cantidad}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">PRECIOS:</td>
                <td colspan="5">{{pedido.ped_comentario}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">CREDITOS Y COBROS:</td>
                <td colspan="5">{{pedido.ped_comentario_cc}}</td>
            </tr>
        </table>
        <hr/>

        <p style="text-align: right;">
            <b>TIEMPO TOTAL DE PROCESAMIENTO: </b>{{filterTotalServicio()}}
        </p>
        <br/>
        <br/>
        <div style="padding-top: 120px;">
          <section class="ps-timeline-sec">
            <div class="container">
                <ol class="ps-timeline">
                    <li *ngFor="let item of filterTracking(); let i = index">
                        <div class="img-handler-top" [ngSwitch]="item.Estado">
                            <p>{{item.Estado}}</p>
                            <img *ngSwitchCase="'REGISTRADO'" src="/assets/timeline/1.png" alt="" width="50px"/>
                            <img *ngSwitchCase="'ENVIADO'" src="/assets/timeline/2.png" alt="" width="50px"/>
                            <img *ngSwitchCase="'PREPARADO'" src="/assets/timeline/3.png" alt="" width="50px"/>
                            <img *ngSwitchCase="'APROBADO'" src="/assets/timeline/4.1.png" alt="" width="50px"/>
                            <img *ngSwitchCase="'RECHAZADO'" src="/assets/timeline/4.2.png" alt="" width="50px"/>
                            <img *ngSwitchCase="'FACTURADO'" src="/assets/timeline/5.png" alt="" width="50px"/>
                        </div>
                        <div class="ps-bot">
                            <p>{{item.Fecha | date:'d/M/y H:mm:ss'}}</p>
                            <p>{{item.Usuario}}</p>
                        </div>
                        <span class="ps-sp-bot">{{i+1}}</span>
                    </li>
                    <!--<li>
                        <div class="img-handler-top">
                            <img src="/assets/timeline/2.png" alt="" width="50px"/>
                            <p>ENVIADO</p>
                        </div>
                        <div class="ps-bot">
                            <p>28/02/2023 13:45:12</p>
                        </div>
                        <span class="ps-sp-bot">2</span>
                    </li>
                    <li>
                        <div class="img-handler-top">
                            <img src="/assets/timeline/3.png" alt="" width="50"/>
                            <p>PREPARADO</p>
                        </div>
                        <div class="ps-bot">
                            <p>28/02/2023 13:13:46</p>
                        </div>
                        <span class="ps-sp-bot">3</span>
                    </li>
                    <li>
                        <div class="img-handler-top">
                            <img src="/assets/timeline/4.1.png" alt="" width="50"/>
                            <p>APROBADO</p>
                        </div>
                        <div class="ps-bot">
                            <p>28/02/2023 14:12:46</p>
                        </div>
                        <span class="ps-sp-bot">4</span>
                    </li>
                    <li>
                        <div class="img-handler-top">
                            <img src="/assets/timeline/4.2.png" alt="" width="50"/>
                            <p>RECHAZADO</p>
                        </div>
                        <div class="ps-bot">
                            <p>28/02/2023 14:12:46</p>
                        </div>
                        <span class="ps-sp-bot">4</span>
                    </li>
                    <li>
                        <div class="img-handler-top">
                            <img src="/assets/timeline/5.png" alt="" width="50"/>
                            <p>FACTURADO</p>
                        </div>
                        <div class="ps-bot">
                            <p>28/02/2023 14:12:46</p>
                        </div>
                        <span class="ps-sp-bot">5</span>
                    </li>-->
                </ol>
            </div>
        </section>
        </div>

        <br/>
        <h2 style="font-weight: bold;">PRODUCTOS</h2>
        <ion-progress-bar type="indeterminate" *ngIf="loading.detalle"></ion-progress-bar>
        <table class="customers">
            <tr>
                <th>#</th>
                <th>SKU</th>
                <th>DESCRIPCION</th>
                <th>PRECIO U.</th>
                <th style="text-align: right;">CANTIDAD</th>
                <th style="text-align: right;">SUB TOTAL</th>
                <th style="text-align: right;">SUB TOTAL + IVA</th>
                <th style="text-align: right;">CANTIDAD<br/>FACTURADA</th>
            </tr>
            <tr *ngFor="let item of pedido.vmo_pedido_detalle; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.pde_producto}}</td>
                <td>{{item.pde_descripcion}}</td>
                <td>{{item.pde_precio_unitario_final | currencyFormat}}</td>
                <td style="text-align: right;">{{item.pde_cantidad | quantityFormat}}</td>
                <td style="text-align: right;">{{item.pde_precio_unitario_final*item.pde_cantidad | currencyFormat}}</td>
                <td style="text-align: right;">{{(item.pde_precio_unitario_final*1.13)*item.pde_cantidad | currencyFormat}}</td>
                <td style="text-align: right;">
                  {{item.facturado}} 
                  <fa-icon [icon]="['fas','check-circle']" *ngIf="item.facturado==item.pde_cantidad"></fa-icon>
                  <fa-icon [icon]="['fas','exclamation-triangle']" *ngIf="item.facturado!=item.pde_cantidad"></fa-icon>
                </td>
            </tr>
            <tr *ngIf="pedido.vmo_pedido_detalle?.length>0">
                <th colspan="4" style="text-align: right;">TOTAL</th>
                <th style="text-align: right;">{{totalUnidades()}}</th>
                <th style="text-align: right;">{{totalMonto() | currencyFormat}}</th>
                <th style="text-align: right;">{{totalMontoIVA() | currencyFormat}}</th>
                <th style="text-align: right;">{{totalUnidadesFacturadas()}}</th>
            </tr>
        </table>

        <div>
            <ion-button color="success" (click)="reenviar()">
                <fa-icon [icon]="['fas','cash-register']" style="margin-right: 1em;"></fa-icon>
                Reenviar
            </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    
    <ion-card *ngSwitchCase="'factura'">
      <ion-card-content>
        <table class="datos">
            <tr>
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">FECHA DE FACTURACION:</td>
                <td>{{facturaEncabezado.fecha | date:'d/M/y'}} {{facturaEncabezado.hora | date:'h:mm a' }}</td>
            
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">NO. CLIENTE:</td>
                <td>{{facturaEncabezado.cliente_codigo}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">CLIENTE:</td>
                <td>{{facturaEncabezado.cliente_nombre}}</td>
            
                
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">NO FACTURA:</td>
                <td>{{facturaEncabezado.no_factura}}</td>
            </tr>
            <tr>
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">MONTO FACTURA:</td>
                <td>{{facturaEncabezado.monto | currencyFormat}}</td>
            
                <td style="font-weight: bold;padding-right: 5px;text-align: right;">MONTO:</td>
                <td>{{totalMontoFacturado() | currencyFormat}}</td>
            </tr>
        </table>

        <table class="customers">
          <tr>
            <th>VENDEDOR</th>
            <th>APROBACIÓN CREDITOS</th>
            <th>FACTURADOR</th>
          </tr>
          <tr>
            <td>{{facturaEncabezado.vendedor}}</td>
            <td>{{facturaEncabezado.creditos}}</td>
            <td>{{facturaEncabezado.facturador}}</td>
          </tr>
        </table>
        <br/>
        <br/>
        <h2>Productos</h2>
        <table class="customers">
            <tr>
                <th>#</th>
                <th>SKU</th>
                <th>DESCRIPCION</th>
                <th>PRECIO U.</th>
                <th style="text-align: right;">CANTIDAD</th>
                <th style="text-align: right;">SUB TOTAL</th>
                <th style="text-align: right;">SUB TOTAL + IVA</th>
            </tr>
            <tr *ngFor="let item of facturaDetalle; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.codigo}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.precio | currencyFormat}}</td>
                <td style="text-align: right;">{{item.cantidad}}</td>
                <td style="text-align: right;">{{item.monto | currencyFormat}}</td>
                <td style="text-align: right;">{{item.monto_iva | currencyFormat}}</td>
            </tr>
            <tr *ngIf="facturaDetalle?.length>0">
                <th colspan="4" style="text-align: right;">TOTAL</th>
                <th style="text-align: right;">{{totalUnidadesFacturadas()}}</th>
                <th style="text-align: right;">{{totalMontoFacturado() | currencyFormat}}</th>
                <th style="text-align: right;">{{totalMontoIVAFacturado() | currencyFormat}}</th>
            </tr>
        </table>
      </ion-card-content>
    </ion-card>
  </div>




</ion-content>


<!--<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>-->