<ion-header>
  <ion-toolbar class="background-yellow" mode="md">
    <ion-title>{{cliente.nombre_social}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 20px">
    <table style="width: 100%; text-align: center" class="saldos">
      <tr>
        <td>LIMITE</td>
        <td>SALDO</td>
        <td>DISPONIBLE</td>
      </tr>
      <tr>
        <td>{{cliente.limite | currencyFormat}}</td>
        <td>
          <ion-label color="danger">
            {{cliente.saldo | currencyFormat}}
          </ion-label>
        </td>
        <td>
          <ion-label color="success">
            {{cliente.limite-cliente.saldo | currencyFormat}}
          </ion-label>
        </td>
      </tr>
    </table>
    <br />

    <ion-segment
      [(ngModel)]="segment"
      scrollable
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="first">
        Información general
      </ion-segment-button>
      <ion-segment-button value="second">
        Documentos pendientes
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment">
      <ion-card *ngSwitchCase="'first'">
        <ion-card-content>
          <table style="width: 100%" class="resumen">
            <tr>
              <td>CODIGO:</td>
              <td>{{cliente.codigo}}</td>
            </tr>
            <tr>
              <td>DUI:</td>
              <td>{{cliente.dui}}</td>
            </tr>
            <tr>
              <td>NRC:</td>
              <td>{{cliente.nrc}}</td>
            </tr>
            <tr>
              <td>NIT:</td>
              <td>{{cliente.nit}}</td>
            </tr>
            <tr>
              <td>CORREO:</td>
              <td>{{cliente.correo}}</td>
            </tr>
            <tr>
              <td>DIRECCIÓN:</td>
              <td>{{cliente.direccion}}</td>
            </tr>
            <tr>
              <td>DIRECCIÓN 2:</td>
              <td>{{cliente.direccion2}}</td>
            </tr>
            <tr>
              <td>RAZÓN SOCIAL:</td>
              <td>{{cliente.nombre_social}}</td>
            </tr>
            <tr>
              <td>NOMBRE COMERCIAL:</td>
              <td>{{cliente.nombre_comercial}}</td>
            </tr>
            <tr>
              <td>GIRO:</td>
              <td>{{cliente.giro}}</td>
            </tr>
            <tr>
              <td>TELÉFONO:</td>
              <td>{{cliente.telefono}}</td>
            </tr>
            <tr>
              <td>CELULAR:</td>
              <td>{{cliente.celular}}</td>
            </tr>
            <tr>
              <td>DESPACHO:</td>
              <td>{{cliente.area_despacho}}</td>
            </tr>
            <tr>
              <td>TIPO PAGO:</td>
              <td>{{cliente.tipo_pago}}</td>
            </tr>
            <tr>
              <td>GRUPO:</td>
              <td>{{cliente.grupo}}</td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
      <ion-card *ngSwitchCase="'second'">
        <ion-card-content>
          <ion-row>
            <ion-col size="6" style="align-self: center">
              Documentos pendientes.<br />
              Total: {{facturasPendientes.length}}
            </ion-col>
            <ion-col size="6" style="text-align: right">
              <ion-button
                fill="outline"
                color="success"
                [disabled]="facturasPendientes.length==0"
                style="text-transform: capitalize"
                (click)="enviarEC()"
              >
                <fa-icon
                  [icon]="['fas','file-alt']"
                  style="margin-right: 5px"
                ></fa-icon>
                Enviar estado de cuenta
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-progress-bar
            type="indeterminate"
            *ngIf="loading.facturas"
          ></ion-progress-bar>
          <table class="customers">
            <tr>
              <th>Tipo<br />Documento</th>
              <th>Sucursal</th>
              <th>Vendedor</th>
              <th>SubTipo</th>
              <!--<th>Número</th>-->
              <th>Número<br />Externo</th>
              <th>Documento</th>
              <th>Fecha<br />Documento</th>
              <th>Fecha<br />Vencimiento</th>
              <!--<th>Descripción</th>-->
              <th>Importe<br />Inicial</th>
              <th>Importe<br />Pendiente</th>
              <th>Días<br />Mora</th>
            </tr>
            <tr
              *ngFor="let item of facturasPendientes"
              [ngClass]="{'vencido': validarEstado(item)}"
            >
              <td style="font-weight: bold">
                <fa-icon
                  (click)="opciones($event, item)"
                  [icon]="['fas','ellipsis-v']"
                  style="font-size: 18px; margin-right: 5px"
                ></fa-icon>
                {{item.tipo_documento}}
              </td>
              <td>{{item.ubicacion}}</td>
              <td>{{item.codigo_vendedor}}</td>
              <td>{{item.sub_tipo}}</td>
              <!--<td>{{item.numero}}</td>-->
              <td>{{item.numero_externo}}</td>
              <td>{{item.documento}}</td>
              <td>{{item.fecha_registro | date: 'd/M/y'}}</td>
              <td>{{item.fecha_vencimiento | date: 'd/M/y'}}</td>
              <!--<td>{{item.descripcion}}</td>-->
              <td>{{item.inicial | currencyFormat}}</td>
              <td>{{item.saldo | currencyFormat}}</td>
              <td>{{item.dias_mora}}</td>
            </tr>
            <tr *ngIf="registros!=-1 && facturasPendientes.length==0">
              <td style="text-align: center" colspan="11">
                No se encontraron registros
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
