.iconos{
    margin-right: 20px;
}

span{
    font-weight: 500;
    color:darkgray;
    font-size: 14px;
    display: block;
}

.customers {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
  }
  
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .customers tr:nth-child(even) {
  background-color: #faf3c0;
}

.customers tr:hover {
  background-color: #fff39b;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f3d800;
  color: #282828;
  font-weight: bold;
}

  table.datos{
    width: 100%;
  }
  table.datos tr td{
    padding: 5px;
  }
  table.datos tr td:first-child{
    width: 20%;
  }

  table.datos tr td input{
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  textarea{
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  ::ng-deep {
    .coupon-alert {
    --min-width: 400px;
    --max-width: 400px;
    --width: 400px;
  }
}

.bg-transparent {
  background: transparent;
}

.fake-select{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin-top: 0px;
  padding-right: 28px;
  word-break: break-all;
}

.fake-select::after{
  content: '⌵';
  position: absolute;
  right: 14px;
  margin-top: -2px;
}

.picker-opt{
  font-size: 12px !important;  //change size depend your Requirement
}


.btn-guardar{
  border-radius: 50rem !important;
  background-color: antiquewhite !important;
}

.color{
  color: #F3D800 !important;
}


/* Styles go here */


.toggle-text > .track {

  width: auto;
  padding-left: 25px;
  padding-right: 25px;

}

.toggle-text .handle {
  left: 7px;
}

.toggle-text .handle-text {
  font-size: 24px;
  color: white;

  position: absolute;
  top: -4px;
  
}

.toggle-text .handle-text-false {
  left: 36px;
}

.toggle-text input:checked + .track .handle {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  left: calc(100% - 34px);
  
/*  -webkit-transform: translate3d(0, 0,0);*/
}
.track-text {
  line-height: 26px;
  color: white;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.text-uppercase{
  text-transform: uppercase;
}


ion-picker.prueba .picker-columns .picker-opts{
  --background: yellow;
  font-weight: bold;
  color: rgb(0, 0, 0) !important;
}

.cancel{
  /* Ejemplo 1: Cambiar el color del texto a un rojo de Ionic */
  color: yellow !important;

  /* Ejemplo 2: Hacer el texto más delgado o más grueso */
  font-weight: 600; /* 400 es normal, 700 es negrita */

  /* Ejemplo 3: Poner un borde */
  border-radius: 8px;
  margin-right: 5px !important; /* Añadir un poco de espacio */
}

/* Opcional: Estilo para el botón de aceptar, si le agregaste la clase */
.cancel {
  color: #282828 !important;
  font-weight: 700;
}

.color{
  color: #F3D800 !important;
}



